.h1 {
    background: url(./img/rua_bom_jesus.jpg);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-align: center;
    padding: 5%;
    font-size: 60px;
    font-family: 'Maven Pro', sans-serif;
}

img {
    border-radius: 5%;
    max-width: 400px;
    max-height: 150px;
    width: auto;
    height: auto;
}

.background {
    background-image: url(./img/background_novo.jpg);
    background-repeat: no-repeat;
    width: 90%;
    background-size: 100%;
}

.h2 {
    font-size: 2em;
    background-image: linear-gradient(to bottom, rgb(114, 16, 212), rgb(6, 53, 92), rgb(22, 5, 117));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    color: black;
    font-family: 'Maven Pro', sans-serif;
}

.section {
    display: flex;
}

.div {
    padding: 2em;
}

